@import url(fonts.css);
@import url(reset.css);
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin web {
    @media (max-width: 1920px) {
        @content;
    }
}


@mixin winh {
    @media (max-height: 860px) {
        @content;
    }
}



$spacing : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

@for $i from 0 through 10 {
    &.mt#{$i} {
        margin-top: #{$i}px !important;
    }
    &.mb#{$i} {
        margin-top: #{$i}px !important;
    }
    &.ml#{$i} {
        margin-top: #{$i}px !important;
    }
    &.mr#{$i} {
        margin-top: #{$i}px !important;
    }
    &.pt#{$i} {
        margin-top: #{$i}px !important;
    }
    &.pb#{$i} {
        margin-top: #{$i}px !important;
    }
    &.pl#{$i} {
        margin-top: #{$i}px !important;
    }
    &.pr#{$i} {
        margin-top: #{$i}px !important;
    }
}


.m_only {
    display: none;
}

.ta {
    &C {
        text-align: center;
    }
    &L {
        text-align: left;
    }
    &R {
        text-align: right;
    }
}
img {
    max-width: 100%;
}

.inner {

    padding: 0 12.5%;
    margin: 0 auto;
    position: relative;
    &2 {
        max-width: 1296px;
        padding: 0 50px;
        margin: 0 auto;
        position: relative;
    }
    &3 {
        max-width: 800px;
        padding: 0 50px;
        margin: 0 auto;
        position: relative;
    }

    &.ty_prod_view {
        //padding-right: 658px;
    }
}

@include web {
    .inner {
        max-width: 1440px;
        padding: 0 50px;
    }
}



.header {
    position: fixed;
    width: 100%;
    height: 150px;
    left: 0;
    top: 0;
    z-index: 99;
    .inner {
        height: 100%;
        position: static;
        display: flex;
        align-items: center;
    }

    .logo {
        a {
            display: block;
        }
        img {
            width: 215px;
        }
    }
}

#container {
    min-height: 700px;
    box-sizing: border-box;
    &.main {
        padding-top: 227px;
    }
    &.sub {
        padding-top: 202px;
    }
    &.sub2 {
        padding-top: 161px;
    }
    padding-bottom: 157px;
}



.btn_nav {
    $this : #{&};
    width: 54px;
    height: 54px;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    &_bar {
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #000;
        right: 50%;
        margin-right: -15px;
        transition: all .2s ease-in-out;
        &.top {
            top: 13px;
        }
        &.mid {
            top: 26px;
        }
        &.bot {
            top: 39px;
        }
    }
    &.on {
        #{$this}_bar {
            &.top {
                top: 26px;
                transform: rotate(45deg);
            }
            &.mid {
                width: 0;
            }
            &.bot {
                top: 26px;
                transform: rotate(-45deg);
            }
        }
    }
}
.nav {
    position: fixed;
    height: 100%;
    right: -630px;
    top: 0;
    width: 624px;

    padding-top: 227px;
    padding-bottom: 131px;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid #000;
    text-align: center;
    transition: right .4s ease-in-out;

    &.on {
        right: 0;
    }
    &_list {
        height: 100%;
        li {
            transition: all .1s ease-in-out;
            &:hover {
                background-color: #000;
                a {
                    color: #fff;
                }
            }
            a {
                display: block;
                font-size: 26px;
                font-weight: 500;
                line-height: 100px;
                transition: all .1s ease-in-out;
            }
        }
    }
    .btn_site_info {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 15px;
        font-size: 26px;
        font-weight: 500;
        line-height: 100px;
        text-align: center;
    }
}

@include winh {
    .nav {
        padding-top: 150px;
    }
}


.art_list {
    margin: 0 -28px;
    // &:hover {
    //     cursor: url(../images/cursor.svg), auto;
    // }
    .swiper-wrapper.mousewheel {
        transition-duration: 0.6s !important;
    }
    &_item {
        width: auto;
        padding: 0 28px;
    }
    a {
        display: block;
        &:hover {
            .img_box img {
                transform: scale(1.05);
            }
        }
    }
    .img_box {
        display: inline-block;
        vertical-align: top;
        height: 720px;
        overflow: hidden;
        img {
           height: 100%;
           transition: all 0.4s ease-in-out;
        }
    }
    .tit_box {
        display: block;
        font-size: 26px;
        line-height: 1.42;
        font-weight: bold;
        margin-top: 24px;
    }
}


#footer {
    padding: 60px 0;
    .inner {
        display: flex;
        align-items: flex-end;
    }
    .logo {
        display: block;
        width: 215px;
        img {
            width: 100%;
        }
    }
    .footer_cont {
        &_tit {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 4px;
        }
        &.ty_sns {
            margin-top: 16px;
        }
        &.ty_nav {
            margin-top: 22px;
        }
    }
    .footer_nav {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            & + li {
                margin-left: 24px;
            }
            a {
                display: block;
                font-weight: bold;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    .sns_list {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            & + li {
                margin-left: 24px;
            }
        }
        .sns_btn {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            &.insta {
                background-image: url(../images/icon/instagram.svg);
            }
            &.naver {
                background-image: url(../images/icon/naver.svg);
            }
            &.ytb {
                background-image: url(../images/icon/youtube.svg);
            }
            &.fb {
                background-image: url(../images/icon/facebook.svg);
            }
        }
    }

    .footer_sec {
        &.right {
            padding-left: 68px;
        }
    }
    .footer_menu {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            & + li {
                margin-left: 36px;
            }
            a {
                display: block;
                font-size: 18px;
                line-height: 26px;
                font-weight: bold;
            }
        }
    }

    .footer_info {
        margin-top: 16px;
        font-size: 16px;
        line-height: 23px;
        .bar {
            display: inline-block;
            padding: 0 10px;
        }
    }
    .copy {
        margin-top: 16px;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }
}

.prod_view {
    .img_box {
        padding-right: 34px;
        .tit_box {
            display: block;
            font-size: 26px;
            line-height: 37px;
            margin-top: 24px;
        }
    }

    .prod_info {
        text-align: center;
        padding: 144px 26px 50px;
        overflow-y: auto;
        position: fixed;
        z-index: 10;
        width: 624px;
        box-sizing: border-box;
        height: 100%;
        right: 0;
        top: 0;
        background-color: #fff;
        border-left: 1px solid #000;
        color: #000;

        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.7);
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(0,0,0,.1);

        }


        &_tit {
            display: block;
            margin-bottom: 16px;
            font-size: 20px;
            line-height: 1.4;
            color: #000;
            opacity: 0.6;
            font-weight: normal;
        }
        &_sec {
            border-top: 1px solid #000;
            &.sec_tit {
                padding: 40px 0;
                .prod_name {
                    font-size: 26px;
                    line-height: 1.42;
                }
                .prod_info_list {
                    margin-top: 40px;
                    font-size: 0;
                    li {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 20px;
                        line-height: 1.4;
                        font-weight: bold;
                        position: relative;
                        width: 50%;
                        box-sizing: border-box;
                        &:nth-child(odd) {
                            padding-right: 40px;
                            text-align: right;
                        }
                        &:nth-child(even) {
                            padding-left: 40px;
                            text-align: left;
                            &::before {
                                content:'';
                                position: absolute;
                                width: 1px;
                                height: 24px;
                                background-color: #d2d2d2;
                                left: 0;
                                top: 2px;
                            }
                        }
                        strong {
                            display: inline-block;
                            padding-right: 10px;
                            font-weight: normal;
                            color: #000;
                            opacity: 0.6;
                        }
                    }
                }
            }
            &.sec_desc {
                padding: 32px 0;
                .tit {
                    display: block;
                    font-size: 20px;
                    line-height: 1.4;
                    font-weight: bold;
                    margin-bottom: 16px;
                }
                .txt_box {
                    font-size: 18px;
                    line-height: 1.44;
                    font-weight: 300;
                }
            }
            &.sec_select {
                padding: 8px 0;
                .select_img {
                    position: relative;
                    .btns {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        label {
                            cursor: pointer;
                            width: calc(100%/11);
                            height: 10%;
                            position: relative;
                            input[type='checkbox'] {
                                position: absolute;
                                z-index: -1;
                                opacity: 0;
                                left: 0;
                                top: 0;
                                &:checked ~ span {
                                    background-color: rgba(0,0,0,.8);
                                    color: #f00;
                                }
                            }
                            span {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: rgba(#fff, 0.5);
                                background-color: rgba(0,0,0,.5);
                                font-size: 16px;
                                font-weight: 500;
                                font-family: 'Montserrat';

                                user-select: none;

                            }
                        }
                    }
                }
            }
            &.sec_price {
                display: flex;
                justify-content: space-between;
                padding-top: 24px;
                font-size: 20px;
                line-height: 1.4;
                font-weight: 500;
            }
        }
        .btn_purchase {
            margin-top: 48px;
            display: block;
            text-align: center;
            width: 100%;
            height: 80px;
            line-height: 80px;
            background-color: #000;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
    }
}



.sub_tit {
    text-align: center;
    margin-bottom: 22px;
    h2 {
        font-size: 32px;
        line-height: 1.41;
    }
    p {
        font-size: 24px;
        line-height: 1.38;
        margin-top: 16px;
    }
}

.list_top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
    .amount {
        font-size: 20px;
        line-height: 1.4;
        color: #7d7d7d;
    }
    .solt {
        select {
            outline: none;
            min-width: 160px;
            height: 56px;
            border: 1px solid #000;
            padding: 0 44px 0 24px;
            box-sizing: border-box;
            color: #000;
            font-size: 20px;
            background-image: url(../images/icon/arrow.svg);
            background-repeat: no-repeat;
            background-position: calc(100% - 16px) center;
            background-size: 11px 7px;
        }
    }
}
.notice_list {
    border-top: 1px solid #000;
    &_item {
        border-bottom: 1px solid #000;
    }
    &_link {
        display: flex;
        padding: 16px 0;
    }
    .img_area {
        width: 240px;
        flex-shrink: 0;
        .img_box {
            padding-top: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            img {
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                width: 1px;
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                white-space: nowrap;
                z-index: -1;
            }
        }
    }
    .txt_area {
        flex: 1;
        padding-left: 32px;
        min-width: 0;
        padding-top: 10px;
        .info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 1.44;
            color: #7d7d7d;
            font-weight: 300;
            .view span {
                margin-left: 10px;
            }
        }
        .tit {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 24px;
            line-height: 1.38;
            font-weight: 500;
        }
        .cont {
            font-size: 20px;
            line-height: 28px;

            font-weight: 300;
            margin-top: 8px;
            display:-webkit-box;
            -webkit-line-clamp:5;
            -webkit-box-orient:vertical;
            overflow:hidden;
            text-overflow:ellipsis;
            max-height: 140px;
        }
    }
}



.notice_view {
    &_top {
        padding: 39px 0 55px;
        background: url(../images/sub/box.jpg) no-repeat center center;
        background-size: cover;
    }
}




@include tablet {
    .art_list {

        &_item {
            width: 100%;
            box-sizing: border-box;

        }
    }
}


@include mobile {



}