@import url(fonts.css);
@import url(reset.css);
.mt0 { margin-top: 0px !important; }

.mb0 { margin-top: 0px !important; }

.ml0 { margin-top: 0px !important; }

.mr0 { margin-top: 0px !important; }

.pt0 { margin-top: 0px !important; }

.pb0 { margin-top: 0px !important; }

.pl0 { margin-top: 0px !important; }

.pr0 { margin-top: 0px !important; }

.mt1 { margin-top: 1px !important; }

.mb1 { margin-top: 1px !important; }

.ml1 { margin-top: 1px !important; }

.mr1 { margin-top: 1px !important; }

.pt1 { margin-top: 1px !important; }

.pb1 { margin-top: 1px !important; }

.pl1 { margin-top: 1px !important; }

.pr1 { margin-top: 1px !important; }

.mt2 { margin-top: 2px !important; }

.mb2 { margin-top: 2px !important; }

.ml2 { margin-top: 2px !important; }

.mr2 { margin-top: 2px !important; }

.pt2 { margin-top: 2px !important; }

.pb2 { margin-top: 2px !important; }

.pl2 { margin-top: 2px !important; }

.pr2 { margin-top: 2px !important; }

.mt3 { margin-top: 3px !important; }

.mb3 { margin-top: 3px !important; }

.ml3 { margin-top: 3px !important; }

.mr3 { margin-top: 3px !important; }

.pt3 { margin-top: 3px !important; }

.pb3 { margin-top: 3px !important; }

.pl3 { margin-top: 3px !important; }

.pr3 { margin-top: 3px !important; }

.mt4 { margin-top: 4px !important; }

.mb4 { margin-top: 4px !important; }

.ml4 { margin-top: 4px !important; }

.mr4 { margin-top: 4px !important; }

.pt4 { margin-top: 4px !important; }

.pb4 { margin-top: 4px !important; }

.pl4 { margin-top: 4px !important; }

.pr4 { margin-top: 4px !important; }

.mt5 { margin-top: 5px !important; }

.mb5 { margin-top: 5px !important; }

.ml5 { margin-top: 5px !important; }

.mr5 { margin-top: 5px !important; }

.pt5 { margin-top: 5px !important; }

.pb5 { margin-top: 5px !important; }

.pl5 { margin-top: 5px !important; }

.pr5 { margin-top: 5px !important; }

.mt6 { margin-top: 6px !important; }

.mb6 { margin-top: 6px !important; }

.ml6 { margin-top: 6px !important; }

.mr6 { margin-top: 6px !important; }

.pt6 { margin-top: 6px !important; }

.pb6 { margin-top: 6px !important; }

.pl6 { margin-top: 6px !important; }

.pr6 { margin-top: 6px !important; }

.mt7 { margin-top: 7px !important; }

.mb7 { margin-top: 7px !important; }

.ml7 { margin-top: 7px !important; }

.mr7 { margin-top: 7px !important; }

.pt7 { margin-top: 7px !important; }

.pb7 { margin-top: 7px !important; }

.pl7 { margin-top: 7px !important; }

.pr7 { margin-top: 7px !important; }

.mt8 { margin-top: 8px !important; }

.mb8 { margin-top: 8px !important; }

.ml8 { margin-top: 8px !important; }

.mr8 { margin-top: 8px !important; }

.pt8 { margin-top: 8px !important; }

.pb8 { margin-top: 8px !important; }

.pl8 { margin-top: 8px !important; }

.pr8 { margin-top: 8px !important; }

.mt9 { margin-top: 9px !important; }

.mb9 { margin-top: 9px !important; }

.ml9 { margin-top: 9px !important; }

.mr9 { margin-top: 9px !important; }

.pt9 { margin-top: 9px !important; }

.pb9 { margin-top: 9px !important; }

.pl9 { margin-top: 9px !important; }

.pr9 { margin-top: 9px !important; }

.mt10 { margin-top: 10px !important; }

.mb10 { margin-top: 10px !important; }

.ml10 { margin-top: 10px !important; }

.mr10 { margin-top: 10px !important; }

.pt10 { margin-top: 10px !important; }

.pb10 { margin-top: 10px !important; }

.pl10 { margin-top: 10px !important; }

.pr10 { margin-top: 10px !important; }

.m_only { display: none; }

.taC { text-align: center; }

.taL { text-align: left; }

.taR { text-align: right; }

img { max-width: 100%; }

.inner { padding: 0 12.5%; margin: 0 auto; position: relative; }

.inner2 { max-width: 1296px; padding: 0 50px; margin: 0 auto; position: relative; }

.inner3 { max-width: 800px; padding: 0 50px; margin: 0 auto; position: relative; }

@media (max-width: 1920px) { .inner { max-width: 1440px; padding: 0 50px; } }

.header { position: fixed; width: 100%; height: 150px; left: 0; top: 0; z-index: 99; }

.header .inner { height: 100%; position: static; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header .logo a { display: block; }

.header .logo img { width: 215px; }

#container { min-height: 700px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 157px; }

#container.main { padding-top: 227px; }

#container.sub { padding-top: 202px; }

#container.sub2 { padding-top: 161px; }

.btn_nav { width: 54px; height: 54px; position: absolute; z-index: 99; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 48px; }

.btn_nav_bar { position: absolute; width: 30px; height: 4px; background-color: #000; right: 50%; margin-right: -15px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.btn_nav_bar.top { top: 13px; }

.btn_nav_bar.mid { top: 26px; }

.btn_nav_bar.bot { top: 39px; }

.btn_nav.on .btn_nav_bar.top { top: 26px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.btn_nav.on .btn_nav_bar.mid { width: 0; }

.btn_nav.on .btn_nav_bar.bot { top: 26px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.nav { position: fixed; height: 100%; right: -630px; top: 0; width: 624px; padding-top: 227px; padding-bottom: 131px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; border-left: 1px solid #000; text-align: center; -webkit-transition: right .4s ease-in-out; transition: right .4s ease-in-out; }

.nav.on { right: 0; }

.nav_list { height: 100%; }

.nav_list li { -webkit-transition: all .1s ease-in-out; transition: all .1s ease-in-out; }

.nav_list li:hover { background-color: #000; }

.nav_list li:hover a { color: #fff; }

.nav_list li a { display: block; font-size: 26px; font-weight: 500; line-height: 100px; -webkit-transition: all .1s ease-in-out; transition: all .1s ease-in-out; }

.nav .btn_site_info { position: absolute; width: 100%; left: 0; bottom: 15px; font-size: 26px; font-weight: 500; line-height: 100px; text-align: center; }

@media (max-height: 860px) { .nav { padding-top: 150px; } }

.art_list { margin: 0 -28px; }

.art_list .swiper-wrapper.mousewheel { -webkit-transition-duration: 0.6s !important; transition-duration: 0.6s !important; }

.art_list_item { width: auto; padding: 0 28px; }

.art_list a { display: block; }

.art_list a:hover .img_box img { -webkit-transform: scale(1.05); transform: scale(1.05); }

.art_list .img_box { display: inline-block; vertical-align: top; height: 720px; overflow: hidden; }

.art_list .img_box img { height: 100%; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.art_list .tit_box { display: block; font-size: 26px; line-height: 1.42; font-weight: bold; margin-top: 24px; }

#footer { padding: 60px 0; }

#footer .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#footer .logo { display: block; width: 215px; }

#footer .logo img { width: 100%; }

#footer .footer_cont_tit { font-size: 18px; line-height: 26px; margin-bottom: 4px; }

#footer .footer_cont.ty_sns { margin-top: 16px; }

#footer .footer_cont.ty_nav { margin-top: 22px; }

#footer .footer_nav { font-size: 0; }

#footer .footer_nav li { display: inline-block; vertical-align: top; }

#footer .footer_nav li + li { margin-left: 24px; }

#footer .footer_nav li a { display: block; font-weight: bold; font-size: 18px; line-height: 26px; }

#footer .sns_list { font-size: 0; }

#footer .sns_list li { display: inline-block; vertical-align: top; }

#footer .sns_list li + li { margin-left: 24px; }

#footer .sns_list .sns_btn { display: block; width: 48px; height: 48px; border-radius: 100%; border: 1px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center center; }

#footer .sns_list .sns_btn.insta { background-image: url(../images/icon/instagram.svg); }

#footer .sns_list .sns_btn.naver { background-image: url(../images/icon/naver.svg); }

#footer .sns_list .sns_btn.ytb { background-image: url(../images/icon/youtube.svg); }

#footer .sns_list .sns_btn.fb { background-image: url(../images/icon/facebook.svg); }

#footer .footer_sec.right { padding-left: 68px; }

#footer .footer_menu { font-size: 0; }

#footer .footer_menu li { display: inline-block; vertical-align: top; }

#footer .footer_menu li + li { margin-left: 36px; }

#footer .footer_menu li a { display: block; font-size: 18px; line-height: 26px; font-weight: bold; }

#footer .footer_info { margin-top: 16px; font-size: 16px; line-height: 23px; }

#footer .footer_info .bar { display: inline-block; padding: 0 10px; }

#footer .copy { margin-top: 16px; font-size: 18px; line-height: 26px; font-weight: bold; }

.prod_view .img_box { padding-right: 34px; }

.prod_view .img_box .tit_box { display: block; font-size: 26px; line-height: 37px; margin-top: 24px; }

.prod_view .prod_info { text-align: center; padding: 144px 26px 50px; overflow-y: auto; position: fixed; z-index: 10; width: 624px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; right: 0; top: 0; background-color: #fff; border-left: 1px solid #000; color: #000; }

.prod_view .prod_info::-webkit-scrollbar { width: 6px; }

.prod_view .prod_info::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.7); border-radius: 5px; }

.prod_view .prod_info::-webkit-scrollbar-track { background-color: rgba(0, 0, 0, 0.1); }

.prod_view .prod_info_tit { display: block; margin-bottom: 16px; font-size: 20px; line-height: 1.4; color: #000; opacity: 0.6; font-weight: normal; }

.prod_view .prod_info_sec { border-top: 1px solid #000; }

.prod_view .prod_info_sec.sec_tit { padding: 40px 0; }

.prod_view .prod_info_sec.sec_tit .prod_name { font-size: 26px; line-height: 1.42; }

.prod_view .prod_info_sec.sec_tit .prod_info_list { margin-top: 40px; font-size: 0; }

.prod_view .prod_info_sec.sec_tit .prod_info_list li { display: inline-block; vertical-align: top; font-size: 20px; line-height: 1.4; font-weight: bold; position: relative; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prod_view .prod_info_sec.sec_tit .prod_info_list li:nth-child(odd) { padding-right: 40px; text-align: right; }

.prod_view .prod_info_sec.sec_tit .prod_info_list li:nth-child(even) { padding-left: 40px; text-align: left; }

.prod_view .prod_info_sec.sec_tit .prod_info_list li:nth-child(even)::before { content: ''; position: absolute; width: 1px; height: 24px; background-color: #d2d2d2; left: 0; top: 2px; }

.prod_view .prod_info_sec.sec_tit .prod_info_list li strong { display: inline-block; padding-right: 10px; font-weight: normal; color: #000; opacity: 0.6; }

.prod_view .prod_info_sec.sec_desc { padding: 32px 0; }

.prod_view .prod_info_sec.sec_desc .tit { display: block; font-size: 20px; line-height: 1.4; font-weight: bold; margin-bottom: 16px; }

.prod_view .prod_info_sec.sec_desc .txt_box { font-size: 18px; line-height: 1.44; font-weight: 300; }

.prod_view .prod_info_sec.sec_select { padding: 8px 0; }

.prod_view .prod_info_sec.sec_select .select_img { position: relative; }

.prod_view .prod_info_sec.sec_select .select_img .btns { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.prod_view .prod_info_sec.sec_select .select_img .btns label { cursor: pointer; width: calc(100%/11); height: 10%; position: relative; }

.prod_view .prod_info_sec.sec_select .select_img .btns label input[type='checkbox'] { position: absolute; z-index: -1; opacity: 0; left: 0; top: 0; }

.prod_view .prod_info_sec.sec_select .select_img .btns label input[type='checkbox']:checked ~ span { background-color: rgba(0, 0, 0, 0.8); color: #f00; }

.prod_view .prod_info_sec.sec_select .select_img .btns label span { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: rgba(255, 255, 255, 0.5); background-color: rgba(0, 0, 0, 0.5); font-size: 16px; font-weight: 500; font-family: 'Montserrat'; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.prod_view .prod_info_sec.sec_price { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 24px; font-size: 20px; line-height: 1.4; font-weight: 500; }

.prod_view .prod_info .btn_purchase { margin-top: 48px; display: block; text-align: center; width: 100%; height: 80px; line-height: 80px; background-color: #000; color: #fff; font-size: 24px; font-weight: 500; }

.sub_tit { text-align: center; margin-bottom: 22px; }

.sub_tit h2 { font-size: 32px; line-height: 1.41; }

.sub_tit p { font-size: 24px; line-height: 1.38; margin-top: 16px; }

.list_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 10px; }

.list_top .amount { font-size: 20px; line-height: 1.4; color: #7d7d7d; }

.list_top .solt select { outline: none; min-width: 160px; height: 56px; border: 1px solid #000; padding: 0 44px 0 24px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #000; font-size: 20px; background-image: url(../images/icon/arrow.svg); background-repeat: no-repeat; background-position: calc(100% - 16px) center; background-size: 11px 7px; }

.notice_list { border-top: 1px solid #000; }

.notice_list_item { border-bottom: 1px solid #000; }

.notice_list_link { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 16px 0; }

.notice_list_link:hover .tit { text-decoration: underline; }

.notice_list .img_area { width: 240px; -ms-flex-negative: 0; flex-shrink: 0; }

.notice_list .img_area .img_box { padding-top: 100%; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center center; }

.notice_list .img_area .img_box img { clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; z-index: -1; }

.notice_list .txt_area { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-left: 32px; min-width: 0; padding-top: 10px; }

.notice_list .txt_area .info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 16px; font-size: 18px; line-height: 1.44; color: #7d7d7d; font-weight: 300; }

.notice_list .txt_area .info .view span { margin-left: 10px; }

.notice_list .txt_area .tit { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 24px; line-height: 1.38; font-weight: 500; }

.notice_list .txt_area .cont { font-size: 20px; line-height: 28px; font-weight: 300; margin-top: 8px; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; max-height: 140px; }

.notice_view_top { padding: 39px 0 50px; background: url(../images/sub/box.jpg) no-repeat center center; background-size: cover; }

.notice_view_top .date { display: block; font-size: 18px; line-height: 1.44; margin-bottom: 16px; }

.notice_view_top .tit { font-size: 32px; line-height: 1.41; font-weight: 500; }

.notice_view_top .bottom_cont { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 43px; }

.notice_view_top .bottom_cont .view { font-size: 18px; line-height: 36px; }

.notice_view_top .bottom_cont .view em { margin-left: 10px; }

.notice_view_top .bottom_cont .btn_sns { font-size: 18px; line-height: 36px; padding-left: 44px; position: relative; }

.notice_view_top .bottom_cont .btn_sns::before { content: ''; position: absolute; left: 0; top: 0; width: 36px; height: 36px; background-image: url(../images/icon/share.svg); background-repeat: no-repeat; background-position: center center; }

.notice_view_cont { margin-top: 60px; font-size: 22px; line-height: 1.41; font-weight: 300; }

.notice_view_cont img { max-width: 100%; height: auto; }

.btn { background-color: #000; color: #fff; text-align: center; }

.btn.ty1 { width: 134px; height: 56px; line-height: 56px; font-size: 18px; -ms-flex-negative: 0; flex-shrink: 0; margin-left: 8px; }

.btn.ty2 { display: block; margin-top: 16px; width: 100%; height: 64px; line-height: 64px; font-size: 20px; }

.input { border: 1px solid #000; height: 56px; line-height: 54px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 20px; font-size: 16px; }

.ta_common { width: 100%; height: 320px; padding: 15px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #000; font-size: 16px; line-height: 1.44; }

.form_box { max-width: 600px; margin: 0 auto; border: 1px solid #000; padding: 40px 24px 24px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form_box_tit { text-align: center; font-size: 26px; line-height: 1.42; font-weight: bold; margin-bottom: 24px; }

.form_box .form_sec + .form_sec { margin-top: 8px; }

.form_box .form_sec_tit { display: inline-block; vertical-align: top; font-size: 18px; font-weight: 300; line-height: 1.44; }

.form_box .form_sec_cont { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.form_box .form_sec_cont > * { min-width: 0; }

.form_box .form_sec .error_msg { display: block; }

.form_box .form_sec .input { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.form_box .form_sec .error_msg { display: block; margin-top: 4px; font-size: 16px; line-height: 1.44; color: #00f; }

.form_box .form_sec .error_msg.false { color: #f00; }

.form_box .login_msg { margin-top: 16px; text-align: center; font-size: 18px; line-height: 1.44; font-weight: 300; color: #7d7d7d; }

.form_box .login_msg .btn_login { display: inline-block; color: #7d7d7d; font-weight: 500; margin-left: 5px; }

.tbl { width: 100%; text-align: center; }

.tbl thead th { background-color: #f7f7f7; border: 1px solid #000; border-left: none; border-right: none; font-size: 20px; line-height: 1.4; padding: 16px 6px; }

.tbl tbody td { height: 200px; padding: 20px 6px; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #000; font-size: 20px; line-height: 1.4; }

.mp_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 69px; }

.mp_wrap .mp_info { width: 28.65%; }

.mp_wrap .mp_info_list { font-size: 26px; line-height: 1.42; padding-left: 16px; }

.mp_wrap .mp_info_list dt { font-weight: 300; }

.mp_wrap .mp_info_list dd + dt { margin-top: 40px; }

.mp_wrap .mp_info_btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 194px; }

.mp_wrap .mp_info_btns .btn { width: calc(50% - 8px); margin-top: 0; }

.mp_wrap .mp_order { width: 71.35%; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 36px; }

.mp_wrap .mp_order .col_img { width: 192px; }

.mp_wrap .mp_tit { padding: 0 16px 20px; border-bottom: 2px solid #000; margin-bottom: 30px; }

.mp_wrap .mp_tit h2 { font-size: 26px; line-height: 1.42; }

.paging { margin-top: 60px; text-align: center; font-size: 0; }

.paging_item { display: inline-block; vertical-align: top; }

.paging_btn { display: block; font-size: 18px; line-height: 36px; height: 36px; min-width: 36px; padding: 0 4px; -webkit-box-sizing: border-box; box-sizing: border-box; background-repeat: no-repeat; background-position: center center; color: #aaa; }

.paging_btn:hover { color: #000; }

.paging_item.on .paging_btn { font-weight: bold; color: #000; cursor: default; pointer-events: none; }

.paging_btn.prev { background-image: url(../images/icon/paging_prev.svg); margin-right: 24px; }

.paging_btn.next { background-image: url(../images/icon/paging_next.svg); margin-left: 24px; }

@media (max-width: 1320px) { .mp_wrap { display: block; }
  .mp_wrap .mp_info { width: 100%; }
  .mp_wrap .mp_info_btns { margin-top: 40px; }
  .mp_wrap .mp_order { padding-left: 0; margin-top: 80px; width: 100%; }
  .mp_wrap .mp_order .col_img { width: 160px; }
  .prod_view { padding-right: 0 !important; }
  .prod_view .img_box { padding-right: 0; }
  .prod_view .prod_info { width: 100%; position: relative; padding: 0; border-left: none; } }

@media (max-width: 1024px) { .inner { padding: 0 30px; }
  .inner2 { padding: 0 30px; }
  .inner3 { padding: 0 30px; }
  #footer .inner { display: block; }
  #footer .footer_sec.right { margin-top: 40px; padding-left: 0; }
  .art_list_item { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; } }

@media (max-width: 767px) { .inner { padding: 0 20px; }
  .inner2 { padding: 0 20px; }
  .inner3 { padding: 0 20px; }
  .header { height: 60px; }
  .header .logo img { width: auto; height: 30px; }
  .btn_nav { right: 12px; width: 40px; height: 40px; }
  .btn_nav_bar { width: 24px; height: 3px; margin-right: -12px; }
  .btn_nav_bar.top { top: 9px; }
  .btn_nav_bar.mid { top: 19px; }
  .btn_nav_bar.bot { top: 29px; }
  .btn_nav.on .btn_nav_bar.top { top: 19px; }
  .btn_nav.on .btn_nav_bar.bot { top: 19px; }
  .nav { right: -100%; width: 100%; } }
